"scopeName": "source.qsharp"
"name": "Q#"
"fileTypes": ["qs"]
"patterns": [
  {
    "include": "#comment"
  }
],
"repository": {
  "comment": {
    "patterns": [
      {
        "begin": "(^\\s+)?(?=//)",
        "beginCaptures": {
          "1": {
            "name": "punctuation.whitespace.comment.leading.qsharp"
          }
        },
        "end": "(?=$)",
        "patterns": [
          {
            "name": "comment.line.double-slash.qsharp",
            "begin": "(?<!/)//(?!/)",
            "beginCaptures": {
              "0": {
                "name": "punctuation.definition.comment.qsharp"
              }
            },
            "end": "(?=$)"
          },
          {
            "name": "comment.block.documentation.qsharp",
            "begin": "(?<!/)///(?!/)",
            "beginCaptures": {
              "0": {
                "name": "punctuation.definition.comment.qsharp"
              }
            },
            "end": "(?=$)",
            "patterns": [
              {
                "include": "#markdown-doc-comment"
              }
            ]
          }
        ]
      }
    ]
  },
  "markdown-doc-comment": {
    "patterns": [
      
    ]
  }
}
