"scopeName": "source.qsharp"
"name": "Q#"
"fileTypes": [
  "qs"
],
"patterns": [
  {
    "include": "#comment"
  }
],
"repository": {
  "comment": {
    "patterns": [
      {
        "begin": "(^\\s+)?(?=//)",
        "beginCaptures": {
          "1": {
            "name": "punctuation.whitespace.comment.leading.qsharp"
          }
        },
        "end": "(?=$)",
        "patterns": [
          {
            "name": "comment.line.double-slash.qsharp",
            "begin": "(?<!/)//(?!/)",
            "beginCaptures": {
              "0": {
                "name": "punctuation.definition.comment.qsharp"
              }
            },
            "end": "(?=$)"
          },
          {
            "name": "comment.block.documentation.qsharp",
            "begin": "(?<!/)///(?!/)",
            "beginCaptures": {
              "0": {
                "name": "punctuation.definition.comment.qsharp"
              }
            },
            "end": "(?=$)",
            "patterns": [
              {
                "include": "#documentation-comment"
              }
            ]
          }
        ]
      }
    ]
  },
  "documentation-comment": {
    # TODO: Is there a way to include the Markdown grammar here?
    "patterns": [
      {
        "include": "#documentation-comment-header"
      },
      {
        "include": "#documentation-comment-cross-reference"
      }
    ]
  },
  "documentation-comment-header": {
    "name": "markup.heading.1.md.qsharp"
    "begin": "\\s*(#)\\s+",
    "beginCaptures": {
      "1": {
        "name": "punctuation.definition.comment-header.qsharp"
      }
    }
    "end": "\\s*(?=$)"
  },
  "documentation-comment-cross-reference": {
    "name": "markup.underline.link.qsharp"
    "begin": "@\"",
    "beginCaptures": {
      "0": {
        "name": "punctuation.definition.cross-reference.begin.qsharp"
      }
    }
    "end": "\"",
    "endCaptures": {
      "0": {
        "name": "punctuation.definition.cross-reference.end.qsharp"
      }
    }
  }
}
